POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=UrlShortenerDB

API_HOST_PORT=5184
API_CONTAINER_PORT=8080

POSTGRES_HOST_PORT=5434
POSTGRES_CONTAINER_PORT=5432

REDIS_CONNECTION_STRING=redis:6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=change_me
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_CONNECTION_STRING=amqp://guest:change_me@rabbitmq:5672/